html{
    background-color: red;
    color: white;
}

*{
    margin: 0;
}
@media only screen and (min-width: 800px){
    html{background-color: palegreen;}
}
nav{
    position: fixed;
    top: 0;
    height: 100px;
    text-align: right;
    display: flex;
    flex-flow: row wrap-reverse;

}
h1,h2,p{
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: red;
    height: 100px;
    width: 150px;
    font-size: 24px;

}


#main1{
    box-sizing: border-box;
    margin-top: 100px;
}

img{
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    background-size: cover;
}

.gallery{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

